{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Для создания этого сайта я приминил такие технологии</p>
    <ol>
      <li>
        <b>Роботы, управляемые при помощи сигналов, идущих от мозга человека.</b> Самому писать код 24/7 сложно,
        Нужно успевать еще работать и тренироваться.
      </li>
      <li>
        <b>Кости, напечатанные на 3D-принтере.</b> Занимается созданием таких костей компания Ossiform. 
        Для этого используется особый материал, схожий по свойствам с человеческими костями, - трикальцийфосфат.
        <i>Ибо свои пальцы я быстро стер</i>
      </li>
      <li>
        <b>Умные часы с питанием от пота.</b> Такое устройство создали в Университете Глазго. 
        Он может быть полностью заряжен всего лишь 20 микролитрами жидкости. 
          <i>
            Уроки настолько увлекательны, что иногда забываешься есть
          </i>
      </li>
      <li>
        <b>ИИ-учёный.</b> Подобный алгоритм создали в Университете Тафтса, штат Массачусетс.
         Искусственный интеллект смог разгадать тайну регенерации плоского червя за 42 часа. 
         Другими словами, машина самостоятельно разработала новую абстрактную теорию.
          <i>
            По другому я просто бы не смог разобраться с Djano :)
          </i>
      </li>
    </ol>
  </article>
</div>
{% endblock %} 